.section {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

.section.hidden {
    width: 0;
    height: 0;
}

.section.is-active {
    display: flex;
    visibility: visible;
    opacity: 1;
}